* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  text-transform: capitalize;
  text-decoration: none;

  color: #2a2618;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #99f2bc;
}
